@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0 1px;
    margin: 0;
}
body{
    overflow-x: hidden;
}

/* header section  */
        .container{
            display: flex;
            height:64px;
            width:100vw;
            max-width: 1312px;
            align-items: center;
            border-bottom: 1px outset gray;
            font-family: "Poppins", serif;
            padding:6px 10px;   
        }
        img{
            height:40px;
            width: 140px;
        }
        .line_icon{
            display:inline-block;
           position:relative;
           right:10px;
           left:75%;
           top:auto;
        }
        @media screen and  (max-width: 800px){

            .line_icon{
                display:inline-block;
           position:relative;
           right:10px;
           left:50%;
           top:auto; 
            }
        }
            
      
      .line_icon >  span{
        display:flex;
        height: 2px;
        width:27px;
        background-color: black;
        margin: 5px;
        border-radius: 20px; 
        }
        .d-btn-p{
            display: inline;
            position:absolute;
            justify-content: center;
            align-items: center;
           right:10px;
           top:15px;
        }
        .btn{
            position: relative;
            border-color:  #1895D2;
            color:#1895D2;
            height: 57px;
            width:300px;
            padding: 6px 19px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            font-family: "Poppins", serif;
            background-color: white;

        }
        .btn:hover{
            background-color: #71c5ff;
            border:2px #1895D2;

        }
    
        .btn2{
            background-color: #1895D2;
            color:white;
            
        }
        .btn1{
            width:150px;
             
            }
 
        ul{
            display: flex;
            list-style-type: none;
        }
        li>a{
            text-decoration: none;
            color: #5C7483;
            font-weight: 400;
            font-size: 16px;
        }
        li>a:hover{
            text-decoration:underline;
        }
        .side_menu{
            background-color: white;
            display: none;
            height: 50vh;
            width: 100vw;
            position:absolute;
            top:77px;
            left:0px;

        }
        .side_menu>ul{
            display: inline-block;
            margin:10px 20px;
            color:#1895D2;
        }
        .side_menu>ul>li{
            margin:20px;
        }


        .side_menu>ul>li:hover{
            color:#1895D2;

        }
        .side_menu>button{
            position: absolute;
        }
        .side_menu>button>a{
            margin: 2px;
        }


.foot-list{
    display: flex;
    justify-content: space-around;

}
.foot-list>.list{
    margin: 10px;
    display: inline;  
}
.lang_option,.foot-div{
    margin:20px;
    position: relative;
    left: 15px;

}
.list>ul{

    display: flex;
    flex-direction: column;

}
.list>ul>li>a{
    color:#ffffffbf;
    font-size: 12px;
    font-family: sans-serif;

}
.list>ul>li{
    margin:5px;
}
p{
    display: flex;
     font-family: sans-serif;
    align-items: center;
}
.lang{
    height:40px;
    width:200px;
    padding:3px;
    color:white;
    border: 1px outset #ffffffbf;
    background-color: #1484c5;
    border-radius: 5px;
}
.lang:hover{
    color:#1484c5;
    background-color:white;
}
.top-foot{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1895d2;
    color:white;
}
.foot-head{
    font-size: 25px;
}
.top-foot>.foot-btn>a>.btn{
    background: #ff745f;
    border: 1px solid #ff745f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 24px;
    color: white;
    text-align: center;
    justify-content: center;
    padding: auto 100px;
    margin: 30px;
    position: relative;
    height: 60px;
}
.top-foot>.foot-p{
margin:20px;
}

@media screen and (max-width: 993px) {
        
    .foot-list{
    display: flex;
    flex-direction: column;  

}
       
    }


        @media screen and (min-width: 993px) {
            .line_icon {
                display:none;
            }
        }
        @media screen and (max-width: 993px) {
        
            .list_item{
                display: none;
            }
            .d-btn-p{
                display: none;
            }
        } 

/* main section  */
a:active{
color: #1484c5;
}

/* footer section */
.footer{
    width:100vw;
    background-color: #1484c5;
    color:#ffffffbf;
    padding: 10px 0px;
    position: relative;
    font-size: 15px;
    font-family: sans-serif;
   
}


.foot-list>.list{
    margin: 30px;
    display: inline;  
}
.lang_option,.foot-div{
    margin:20px;
    position: relative;
    left: 15px;

}
.list>ul{
    display: flex;
    flex-direction: column;

}
.list>ul>li>a{
    color:#ffffffbf;
    font-size: 12px;
    font-family: sans-serif;

}
.list>ul>li{
    margin:5px 0px;
}
.list-ul-li{
    margin: 10px;
} 
p{
    display: flex;
     font-family: sans-serif;
    align-items: center;
}
.lang{
    height:40px;
    width:200px;
    padding:3px;
    color:white;
    border: 1px outset #ffffffbf;
    background-color: #1484c5;
    border-radius: 5px;
}
.lang:hover{
    color:#1484c5;
    background-color:white;
}
.top-foot{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1895d2;
    color:white;
}
.foot-head{
    font-size: 25px;
}
.top-foot>.foot-p{
margin:20px;
}

@media screen and (max-width: 993px) {
        
    .foot-list{
    display: flex;
    flex-direction: column;  

}.text {
    width: 100%;
    
}
       
    }

/* main-----------/ */
.main-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:86px 0px;

}
.photo>img{
    width:80%;
    height: 50%;
}
.text{
    width:40%;
    padding:30px;
   
}
.text>h2{
    font-size: 3rem;
    margin: 5px 0px;
}
.text>p{
    font-size: 1rem;
    margin: 30px 0px; 
}
.photo>h2{
    color: #1484c5;
    font-size: 3rem;
    margin:-36px 0px 10px 110px;
}
.paragraph{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding:20px;
}
.paragraph>div{
 border: 1px solid black;
margin:5px;
border-radius: 2px;
overflow-x: hidden;
}
@media screen and (max-width: 700px){
    .main-body{
        display: flex;
        flex-direction: column;
    }
    .text{
        width:91%;
        padding:30px;
        text-align: center;
    }
    .paragraph{
        display: grid;
        grid-template-columns:  auto auto;
        padding:20px;
    }
} 
@media screen and (max-width: 400px){
    
    .paragraph{
        display: grid;
        grid-template-columns:  auto;
        padding:20px;
    }
} 

.logo4{
 text-align: center;
 font-size: 2rem;
 padding:60px 0px;
}
.paragraph{
 display: grid;
grid-area:span;
height: min-content;
box-sizing:border-box;


}

.padding{
 padding:20px;
  background-color: #F7FBFD;
  border:1px solid black;
 border-radius: 5px;
 /* display: grid;
 height: min-content; */
 

}
